body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: auto;
    position: relative;
    top: 50px; /* Add some top margin */
    text-align: center;
    box-sizing: border-box;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    border-color: #333;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

button a {
    color: white;
    text-decoration: none;
}

button:disabled {
    background-color: #ccc;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
        top: 30px;
    }
}

.profile-pic-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #68507b; /* Sesuaikan dengan palet warna Anda */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none; /* Menghapus garis bawah pada teks */
}

.profile-pic-button:hover {
    background-color: #46315c; /* Warna latar belakang saat hover */
}