<<<<<<< HEAD
=======
body {
    background-color: #7f2092;
    color: #463;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: Arial, sans-serif;
}

p {
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.card {
    background-color: #e1bee7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h1 {
    color: #4a148c;
}

.card p {
    color: #6a1b9a;
}
>>>>>>> 7a2aad6d7a3201a474168e7c7bf3201cda548429

