body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.login-form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #68507B;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-top: 0;
    text-align: center; 
    color: #68507B;
}

.login-form h3 {
    margin-bottom: 20px;
    text-align: center; 
    color: #68507B;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #68507B;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #68507B;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #46315c;
}

a {
    text-decoration: none;
    color: #68507B;
}

a:hover {
    color: #68507B;
}